.linksSliderContainer {
  position: fixed;
  right: 30px;
  top: 10%;
  width: 0;
  height: 0;
  z-index: 99;
  display: block;
}

.linksSliderFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 16%, rgb(0, 0, 0) 100%);
  height: fit-content;
  display: none;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rotateContainer {
  transform: rotate(90deg);
  display: flex;
  gap: 10px;
}

.sideAnchor {
  color: var(--color-accent) !important;
  font-size: 1.1em;
  padding: 2px 6px 2px 2px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.sideAnchor:hover {
  color: white !important;
}

.icon {
  filter: var(--glow);
}

.sideText {
  filter: var(--glow);
}

.fillLineVerticalFooter {
  background-color: var(--color-accent);
  filter: var(--glow);
  width: 1px;
  height: 30px;
}

@media screen and (max-width: 950px) {
  .linksSliderContainer {
    display: none;
  }

  .linksSliderFooter {
    display: block;
  }
}
