@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rye&display=swap');

html {
  /* background-color: #c800b1; */
  /* background-color: #402967; */
  background-color: #000000;
  /* background-color: #2C3238; */
  font-family: 'Montserrat', sans-serif;
  /* padding: 100px 0 0; */
  background-image: url("./images/background_trees.svg");
  /* background-position: right; */
  background-size: auto;
  background-repeat: repeat;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  /* animation: fade_in 1s ease-in; */
  /* filter: blur(10px); */
}

/* #trees {
  animation: fade_in 2s ease-in-out;
  background-color: red;
  width: 500px;

} */

#root {
  position: relative;
  margin: 0;
  /* padding: 100px 0 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

a {
  color: rgb(0, 229, 255);
  text-decoration: none;
  margin: none;
  padding: none;
}

a:visited {
  text-decoration: none;
  color: rgb(0, 229, 255);
}

@keyframes fade_in {
  0% {
    /* opacity: 0; */
    filter: blur(300px);
  } 100% {
    /* opacity: 1; */
    filter: blur(0px);
  }
}

/* @keyframes blur_in {
  0% {
    filter: blur(5000px);
  } 100% {
    filter: blur(0px);
  }
} */
