@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rye&display=swap');

html {
  background-color: #2C3238;
  font-family: 'Montserrat', sans-serif;
  padding: 100px 0 0;
  background-image: url("./images/background_trees.svg");
  /* background-position: right; */
  background-size: auto;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  width: 100%;
}
/*
#trees {
  animation: fade_in 2s ease-in-out;
  background-color: red;
  width: 500px;
} */

.root {
  margin: 0;
  padding: 100px 0 0;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
