@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Rye&display=swap');

/* #topContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 60px;
  width: 100vw;
  max-width: 1100px;
  min-width: 350px;
} */

#topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  /* padding-top: 60px; */
  width: 100vw;
  max-width: 825px;
  /* min-width: 350px; */
  /* padding-left: calc(100vw - 100%); */
}

.contentHero {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  width: 100%;
  min-width: 350px;
}

.subContentDiv {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.contentDiv {
  /* background-color: #2C3238; */
  /* border-radius: 0px 0px 6px 6px; */
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 12px 12px 12px;
  /* flex-shrink: 1; */
  /* margin-top: 150px; */
}

.contentDiv2 {
  /* background-color: #2C3238; */
  border-radius: 0px 0px 6px 6px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 12px 12px 12px;
  margin-top: 20px;
  margin-bottom: 100px;
  /* flex-shrink: 1.6; */
}

#titleName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E4AF23;
  font-size: 5em;
  text-align: center;
  /* animation: blur_in 1s ease-in-out; */
}

#subName {
  color: #CE5438;
  font-size: 2.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-top: 5px;
  text-align: center;

  /* animation: blur_in 1s ease-in-out; */

}

#subName2 {
  color: whitesmoke;
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-top: 5px;
  /* animation: blur_in 1s ease-in-out; */

}


#slotContainer {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


@media screen and (orientation: portrait) {
  #topContainer {
    flex-direction: column;
  }
  .contentDiv2 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  #titleName {
    text-align: left;
    font-size: 3.4em;
  }
  #subName {
    text-align: left;
    font-size: 2em;
  }
}

@keyframes blur_in {
  0% {
    /* opacity: 0; */
    filter: blur(4px);
  } 100% {
    filter: blur(0px);
    /* opacity: 1; */
  }
}

#aboutScroll {
  margin-bottom: 200px;
}

#skillsScroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
